* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, rgb(198, 189, 189), black);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

/* Container principal */
.container {
  background-color: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

/* Título */
.titulo h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #222;
}

/* Conversor box */
.conversor {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

/* Label */
label {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Input file */
input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

/* Botão */
button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: rgb(43, 160, 179);
}